<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>COS Help Queue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">.hr-id { display: none; }</style>
</head>
<body>
<!-- MAKE SURE THIS JS GOES FIRST, IT SETS IMPORTANT GLOBALS -->
<script type="text/javascript">
    // set globals
    curr_user = '{{ curr_user }}'
    token = '{{ token }}'
    if ('{{ is_ta }}' == 'True') is_ta = true;
    else                         is_ta = false;
    initial_queue = atob('{{ queue }}'); // this comes in b64 encoded to escape weird chars
    active_tas = {{ active_tas }};
</script>
<!-- NOW THE REST OF THE JS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript" src="/js/labtas-4.1.js"></script>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Welcome to the CS Lab!</h1></div>
         </div>
    <div class="row">
        <div class="col-md-2">
            <a href="ta-facebook">TA Facebook</a><br>
            <a href="{{ schedule_url }}">Schedule</a><br>
            <a href="{{ logout_url }}">Logout</a><br>
            {% if is_ta %}
                You are a TA!
            {% endif %}
        </div>

        <div class="col-md-10">
            <h2>Help Queue</h2>
            <h4>
                <span id="wait_text">Expected Wait Time from the End of the Queue:</span>
                <span id="wait_time" class="label label-success">&lt; 5 minutes</span>
            </h4>
            <table id="table-queue" class="table table-striped">
                <tr id="table-header">
                    <td class="hr-number">Number</td>
                    <td class="hr-name">Name</td>
                    <td class="hr-email">Email</td>
                    {% if is_ta %}
                        <td class="hr-course">Course</td>
                        <td class="hr-msg">Help Request</td>
                    {% endif %}
                    <td class="hr-action">Action</td>
                    <td class="hr-id"></td>
                </tr>
                <!-- JS WILL INSERT ROWS BELOW -->
            </table>
        </div>
    </div>

    <div class="row">
        <form class="form-horizontal" role="form" id="form-submit">
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" name="name" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="help_msg" class="col-lg-2 control-label">Describe your problem</label>
                <div class="col-lg-6">
                    <textarea class="form-control" rows="5" name="help_msg"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="course" class="col-lg-2 control-label">Course</label>
                <div class="col-lg-6">
                    <select class="form-control" name="course">
                        <option>COS 109</option>
                        <option>COS 126</option>
                        <option>COS 226</option>
                        <option>COS 217</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-6">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    {% if is_ta %}
    <div class="row">
        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#clear-modal">
            Clear the Entire Queue
        </button>
    </div>
    <div class="row">
    {% endif %}
        <a href="http://www.github.com/adaifotis/LabTAs">Check out the GitHub project!</a> <br>
        Questions? Feedback? Email the Head TA Curtis Belmonte -- <a href="mailto:curtislb@princeton.edu">
                                                                   curtislb@princeton.edu</a>
    </div>
</div>

<div id="queue-btn-template" class="btn-group hidden">
    {% if is_ta %}
        <button class="btn btn-success close-req" value="help" name="action">
            <i class="glyphicon glyphicon-ok"></i>
        </button>
    {% endif %}
    <button class="btn btn-danger cancel-req" value="cancel" name="action">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</div>

<div class="modal fade" id="clear-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Queue Management
                <button type="button" class="close" data-dismiss="modal">&times</button>
            </div>
            <div class="modal-body">
                Are you sure you want to clear the entire queue?
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-confirm-clear" class="btn btn-success" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ack-modal" role="dialog"></div> <!-- Filled in on load dynamically -->

</body>
</html>
