<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>COS Help Queue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<!-- MAKE SURE THIS JS GOES FIRST, IT SETS IMPORTANT GLOBALS -->
<script type="text/javascript">
    // set globals
    curr_user = '{{ curr_user }}'
    token = '{{ token }}'
    if ('{{ is_ta }}' == 'True') is_ta = true;
    else                         is_ta = false;
    initial_queue = '{{ queue }}'
</script>
<!-- NOW THE REST OF THE JS -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript" src="/js/labtas-3.0.js"></script>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Welcome to the CS Lab!</h1></div>
         </div>
    <div class="row">
        <div class="col-md-2">
            <h2>Beta Build</h2>
            <a href="ta-facebook">TA Facebook</a><br>
            <a href="{{ logout_url }}">Logout</a><br>
            {% if is_ta %}
                You are a TA!
            {% endif %}
        </div>
        <div class="col-md-10">
            <h2>Help Queue</h2>
            <table id="table-queue" class="table table-striped">
                <tr id="table-header">
                    <td class="hr-number">Number</td>
                    <td class="hr-name">Name</td>
                    <td class="hr-email">Email</td>
                    {% if is_ta %}
                        <td class="hr-course">Course</td>
                        <td class="hr-msg">Help Request</td>
                    {% endif %}
                    <td class="hr-action">Action</td>
                </tr>
                <!-- JS WILL INSERT ROWS BELOW -->
            </table>
        </div>
    </div>

    <div class="row">
        <form class="form-horizontal" role="form" id="form-submit">
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" name="name" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="help_msg" class="col-lg-2 control-label">Describe your problem</label>
                <div class="col-lg-6">
                    <textarea class="form-control" rows="5" name="help_msg"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="course" class="col-lg-2 control-label">Course</label>
                <div class="col-lg-6">
                    <select class="form-control" name="course">
                        <option>COS 109</option>
                        <option>COS 126</option>
                        <option>COS 226</option>
                        <option>COS 217</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-6">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <a href="http://www.github.com/adaifotis/LabTAs">Check out the GitHub project!</a> <br>
        Questions? Feedback? Email the Head TA Alex Daifotis -- daifotis at princeton dot edu
    </div>
</div>

<div id="queue-btn-template" class="btn-group hidden">
    {% if is_ta %}
        <button class="btn btn-success close-req" value="help" name="action">
            <i class="glyphicon glyphicon-ok"></i>
        </button>
    {% endif %}
    <button class="btn btn-danger cancel-req" value="cancel" name="action">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</div>

</body>
</html>