<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>COS Schedule</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<br>
<div class="container">
    <p class="lead"> Lab TA hours are 3pm - 7pm on weekdays and 3pm - 11pm on weekends. The lab opens Thursday, September 11th.</p>
</div>


</body>
</html>